* {
    /* background-color: #2b2d2f; */
    font-family: 'Merienda', cursive;
    font-weight: bold;
    color: white;
    padding: 5px;
    /* font-family: 'Courgette', cursive; */
}

html{
    /* background-image: linear-gradient(to bottom, #FF0A6C, #2D27FF); */
    background-image: linear-gradient(to bottom, #00E1FD, #FC007A);
    /* background-image: linear-gradient(to bottom, #FF2CDF, #0014FF); */
    background-size: cover;
    background-repeat: no-repeat;

}

main p{
    text-align: justify;
}

#titulo{
    background-color: red;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

#data{
    color: yellow;
}

.musica{
    width: max-content;
    margin: auto;
}

.controles img{
    margin: auto;
    width: 50px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 460px) {

    body{
        max-width: 450px;
        margin: auto;
        /* border: 2px solid white; */
        /* border-radius: 15px; */
    }

    .musica{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}